---
import AppLayout from '../layouts/AppLayout.astro';
import HomeHero from '../components/HomeHero.astro';
import HomeTools from '../components/HomeTools.astro';
import HomeNews from '../components/HomeNews';
import forexNews from '../data/forex-news.json';
import '../components/home.css';
---

<AppLayout title="ATCS Tools Hub">
  <div class="home-page container">
    <HomeHero />
    <HomeNews client:load items={forexNews.items} updatedAt={forexNews.updatedAt} />
    <HomeTools />
  </div>
</AppLayout>
