---
import AppLayout from '../layouts/AppLayout.astro';
import HomeHero from '../components/HomeHero.astro';
import HomePage from '../components/HomePage';
import '../components/home.css';
---

<AppLayout title="ATCS Tools Hub">
  <div class="home-page container">
    <HomeHero />
    <HomePage client:only="react" />
  </div>
</AppLayout>
